body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  width: 5%;
  border-top: dotted black 6px;
  border-bottom: none;
  margin: 100px auto;
}

a {
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.introductie {
  color: #40514E;
}

.profielfoto {
  border-radius: 50%;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #EAF6F6;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.footer-link {
  color: #11999E;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.imgskill1 {
  width: 18%;
  float: left;
  margin-right: 30px
}

.imgskill2 {
  width: 25%;
  float: right;
  margin-left: 30px;
  border-radius: 45%;
}

.contact-me {
  background-color: #EAF6F6;
}

.myButton {
  box-shadow: 0px 0px 0px 2px #11cdd4;
  background: linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
  background-color: #11cdd4;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  padding: 13px 37px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #283966;
  margin: 60px auto 60px;
}

.myButton:hover {
  background: linear-gradient(to bottom, #30e3cb 5%, #2bc4ad 100%);
  background-color: #11cdd4;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0
}
